html, body {
    margin: 0;
    padding: 0;
    height: 100%;
        font-family: madefor-display-bold, helveticaneuew01-65medi, helveticaneuew02-65medi, helveticaneuew10-65medi, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --bg-dark: hsl(240, 4%, 90%);
    --bg: hsl(240, 4%, 95%);
    --bg-light: hsl(240, 4%, 100%);
    --text-mvp: hsl(0, 0%, 95%);
    --text-muted-mvp: hsl(0, 0%, 70%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --accent: hsl(354, 90%, 50%);
    --margin-sides: 12rem;
    --flex-direction: row;
}
#nav-bar nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    background-color: var(--bg-light);
}
nav::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(to bottom, gray, transparent);
  pointer-events: none;
}
.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    color: var(--text);
}
.nav-links a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: var(--accent);
}
#nav-bar nav img {
    height: 60px;
}
.cta-button {
    padding: 12px 28px;
    color: var(--text-mvp);
    font-size: 16px;
    border-radius: 10px;
    outline: transparent;
    border: transparent;
    background-color: var(--accent);
}
@media screen and (max-width: 950px){
    .nav-links {
        display: none;
    }
}
#services {
    display: flex;
    background-color: var(--bg);
    padding: 0 var(--margin-sides);
}
.service-box-row {
    display: flex;
    flex-direction: var(--flex-direction);
    gap: 20px;
    width: 100%;
}
.service-box {

}